<div class="container-fluid">
  <h1>Employee Management</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Departments</h3>
          <div class="pull-right">
            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
              <i class="glyphicon glyphicon-filter"></i>
            </span>
          </div>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers"
          />
        </div>
        <table class="table table-hover" id="dev-table">
          <thead>
            <tr>
              <th>DepartmentId</th>
              <th>DepartmentName</th>
              <th>ManagerId</th>
              <th>LocationId</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row blue" *ngFor="let department of Departments(); let i = index" (click)="getEmployees(department.departmentId())"
              [class.active]="i == selectedRow">
              <td>{{department.departmentId()}}</td>
              <td>{{department.departmentName()}}</td>
              <td>{{department.managerId()}}</td>
              <td>{{department.locationId()}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Employees</h3>
          <div class="pull-right">
            <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
              <i class="glyphicon glyphicon-filter"></i>
            </span>
          </div>
        </div>
        <div class="panel-body">
          <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks"
          />
        </div>
        <table class="table table-hover" id="task-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone No</th>
              <th>DoJ</th>
              <th>Salary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Site Wireframes</td>
              <td>John Smith</td>
              <td>in progress</td>
              <td>in progress</td>
              <td>in progress</td>
              <td>in progress</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
